<h2 class="text-center">Login</h2>
<div class="my-login">
  <div class="col-md-8">
    <form [formGroup]="loginFG" #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <label class="control-label"> User Name </label>
        <input
          id="userName"
          name="userName"
          type="email"
          class="form-control"
          formControlName="userName"
          ngModel
        />
      </div>

      <div class="form-group mt-3">
        <label class="control-label"> Password </label>
        <input
          id="password"
          name="password"
          type="password"
          class="form-control"
          formControlName="password"
          ngModel
        />
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-success">LOGIN</button>
      </div>
    </form>

    <!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="form-group">
        <label class="control-label"> User Name </label>
        <input
          id="userName"
          name="userName"
          type="email"
          class="form-control"
          ngModel
        />
      </div>

      <div class="form-group mt-3">
        <label class="control-label"> Password </label>
        <input
          id="password"
          name="password"
          type="password"
          class="form-control"
          ngModel
        />
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-success">LOGIN</button>
      </div>
    </form> -->
  </div>
</div>
