<div class="container">
  <da-navbar></da-navbar>

  <!-- <div class="my-buttons">
    <button
      type="button"
      class="btn btn-warning"
      (click)="changeSelectedDiv('demo')"
    >
      DEMO
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="changeSelectedDiv('login')"
    >
      Login
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="changeSelectedDiv('products')"
    >
      Products
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="changeSelectedDiv('productDetail')"
    >
      Product Detail
    </button>
  </div>

  <div *ngIf="selectedDiv == 'demo'">
    <p>{{ title }}</p>
    <p id="{{ myPTagId }}">{{ 1 == 1 }}</p>

    <p>My Num is : {{ myNum }}</p>

    <p>My Obj is : {{ myObj }}</p>

    <p>My Users array : {{ users[0].userName }}</p>

    <button type="button" class="btn btn-primary" (click)="clickMe(10)">
      Click Me !!
    </button>

    <div *ngFor="let name of myStudents">
      <p>{{ name }}</p>
    </div>

    <div *ngFor="let myUser of users">
      <p>User Name : {{ myUser.userName }}</p>
      <p>Password : {{ myUser.password }}</p>
      <p>EmailID : {{ myUser.emailId }}</p>
    </div>
  </div> -->

  <div>
    <router-outlet></router-outlet>
  </div>

  <!-- <div id="loginScreen" *ngIf="selectedDiv == 'login'">
    <da-login [usersData]="users"></da-login>
  </div>

  <div id="productsScreen" *ngIf="selectedDiv == 'products'">
    <div class="mt-4 mb-4">
      <da-products [prods]="products"></da-products>
    </div>
  </div>

  <div id="productDetailScreen" *ngIf="selectedDiv == 'productDetail'">
    <da-product-detail></da-product-detail>
    <div class="mt-3">
      <h2 class="mb-3">Product Detail</h2>
      <div class="my-product-detail">
        <img
          src="{{ selectedProduct.imageUrls[0] }}"
          alt=""
          srcset=""
          class="my-product-detail-img"
        />
        <div>
          <h2>{{ selectedProduct.name }}</h2>
          <p>
            {{ selectedProduct.shortDescription }}
          </p>
          <p>Product Specificationss</p>
        </div>
      </div>
    </div>
  </div> -->
</div>
