.my-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-img {
  height: 200px;
  width: 150px;
  margin-left: 40px;
}

.product-info {
  text-align: justify;
}
.product-detail {
  box-shadow: 0px 0px 10px 5px #aeaeae;
  width: 300px;
  padding: 20px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
}

.my-product-detail {
  display: flex;
  justify-content: space-around;
}

.my-product-detail-img {
  height: 550px;
  width: 550px;
}
