.my-product-detail {
  display: flex;
  justify-content: space-around;
}

.my-product-detail-img {
  height: 550px;
  width: 550px;
}

.my-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #919192;
}
